.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F9F9F9;
    height: 100vh;
    width: 100vw;
}

.main_wrapper {
    width: 850px;
    height: 850px;
    background-color: #fff;
    box-shadow: 1px 1px 25px 5px rgba(0,0,0,.16);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.win_wrapper {
    justify-content: center;
    align-items: center;
}

.reload_wrapper {
    display: flex;
    justify-content: center;
}
.reload_button {
    width: 200px;
}